footer {
    background: $color-primary;
    padding: 0;

    @media(min-width: $screen-md-min) {
        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }    
    }

    address {
        color: white;
        line-height: 1.4;

        @media(max-width: $screen-sm-max) {
            text-align: center;
            margin-top: 10px;
        }
        
        @media(min-width: $screen-md-min) {
            padding: 0 20px;
        }

        a {
            font-weight: normal;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    a {
        text-decoration: none;
        color: white;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        @media(min-width: $screen-md-min) {
            justify-content: space-between;
        }

        a {
            display: block;
            padding: 10px 20px;

            @media(min-width: $screen-md-min) {
                padding: 20px;
            }
    
            &:hover {
                background: $color-secondary;
            }
        }
    }
}
