footer {
    background: $color-primary;
    padding: 0;

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    address {
        color: white;
        padding: 0 20px;
        line-height: 1.4;

        a {
            font-weight: normal;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    a {
        text-decoration: none;
        color: white;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            display: block;
            padding: 20px;
    
            &:hover {
                background: $color-secondary;
            }
        }
    }
}
