body, html {
    font-family: $font-primary;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

a {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;

    &.no-padding {
        padding: 0;
    }
}

.content {
    width: 100%;

    @media(min-width: $screen-full-min) {
        width: 1200px;
    }
}

@mixin col($x) {
    $w: calc(100% * #{$x} / 12 - 20px);
    width: $w;
    flex: 0 0 $w;
}
.columns {
    display: flex;
    margin: 0 -10px;
    justify-content: center;

    & > * {
        margin: 0 10px;
        @include col(6);
    }

    & > .col-2 { @include col(2); }
    & > .col-3 { @include col(3); }
    & > .col-4 { @include col(4); }
    & > .col-8 { @include col(8); }
    & > .col-9 { @include col(9); }
    & > .col-10 { @include col(10); }
}
