body, html {
    font-family: $font-primary;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
    color: $color-text;
}

main {
    flex: 1 0 auto;

    section:nth-child(even) {
        background: $color-bg-light;
        color: darken($color-text, 5%);
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.4em;
    font-weight: bold;
}
h1 {
    font-size: 2em;
    color: black;
}
section {
    h1 {
        text-align: center;
    }
}
h2, h3, h4, h5, h6 {
    color: $color-secondary;
}
h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 1.28em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1.14em;
    font-style: italic;
}
h6 {
    font-size: 1.1em;
    font-style: italic;
    font-weight: normal;
}

a {
    cursor: pointer;
    color: $color-accent;
    font-weight: bold;

    &:hover {
        text-decoration: none;
    }
}

.cta {
    width: 100%;
    color: white;
    background: $color-accent;
    padding: 12px 16px;
    display: inline-block;
    letter-spacing: 0.8px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;

    &:hover {
        background: darken($color-accent, 5%);
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 40px 0;

    @media(min-width: $screen-md-min) {
        padding: 60px 0;
    }

    &.no-padding {
        padding: 0;
    }
}

.content {
    width: 100%;
    padding: 0 20px;

    @media(min-width: $screen-full-min) {
        width: 1200px;
    }
}

.columns {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
    justify-content: center;
    @media(min-width: $screen-md-min) {
        margin: 0 -25px;
    }

    & > * {
        margin: 0 15px;

        @media(min-width: $screen-md-min) {
            margin: 0 25px;
        }
    }
}
