.main-navigation {
    background: $color-primary;

    .content {
        font-size: 1.1em;
        display: flex;
        justify-content: center;

        @media(min-width: $screen-md-min) {
            justify-content: space-between;
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            @media(max-width: $screen-sm-max) {
                &:last-of-type {
                    display: none;
                }
            }
        }

        a {
            display: block;
            text-decoration: none;
            padding: 20px;
            box-sizing: border-box;
            color: white;

            &:hover {
                background: $color-secondary;
            }

            &.active {
                background: white;
                color: $color-secondary;
            }
        }
    }
}
