.banner {
    display: flex;
    align-content: flex-end;
    justify-content: center;
    height: 260px;
    width: 100%;

    img {
        border: 1px solid black;
        border-top: 0;
        width: auto;
        height: 260px;
    }
    .bg-images {
        position: absolute;
        width: 100%;
        height: 260px;
        display: flex;
        justify-content: space-between;
        z-index: -1;

        img {
            border-left: 0;
            border-right: 0;
        }
    }
}

.feature-list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    margin-bottom: 30px;

    .project-description {
        padding: 15px;
    }
    article {
        border: 1px solid lightgray;
        border-radius: 8px;
    }
    img {
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        object-fit: cover;
        object-position: top;
        max-height: 200px;
    }
}
