.banner {
    display: flex;
    align-content: flex-end;
    justify-content: center;
    width: 100%;
    z-index: 1;
    box-shadow: 0 1px 6px;
    position: relative;
    overflow: hidden;

    .photo-wrapper {
        width: 100%;
        height: 160px;
        padding-top: 20px;
        position: relative;
        display: flex;
        justify-content: center;

        img {
            width: auto;
            height: 100%;
        }

        @media(min-width: $screen-sm-min) {
            padding-top: 0;
            position: absolute;
            height: 120px;
            left: 0;
            top: 0;
        }
        @media(min-width: $screen-md-min) {
            height: 180px;
        }
        @media(min-width: $screen-lg-min) {
            height: 260px;
        }
    }
    .bg-images {
        display: none;

        @media(min-width: $screen-sm-min) {
            width: 100%;
            height: 120px;
            display: flex;
            justify-content: space-between;
            z-index: -1;

            img {
                width: calc(50% - 60px);
                flex: 0 0 calc(50% - 60px);
                height: auto;
                object-fit: cover;
            }
        }

        @media(min-width: $screen-md-min) {
            height: 180px;
            img {
                width: calc(50% - 90px);
                flex: 0 0 calc(50% - 90px);
            }
        }

        @media(min-width: $screen-lg-min) {
            height: 260px;

            img {
                width: calc(50% - 120px);
                flex: 0 0 calc(50% - 120px);    
            }
        }
    }
}

@media(max-width: $screen-lg-max) {
    #page-home {
        main {
            section:first-of-type {
                padding-top: 0;
            }
        }
    }
}

.main-content {
    text-align: center;
    padding: 20px 0;
    align-self: center;

    @media(min-width: $screen-md-min) and (max-width: $screen-lg-max) {
        br {
            content: '. ';
            &:after {
                content: '. ';
            }
        }
    }
}

.feature-content {
    width: calc( 800% / 12 - 30px);
    flex: 1 1 calc( 800% / 12 - 30px);
}

.feature-list {
    display: grid;
    grid-gap: 20px;
    text-align: center;

    @media(min-width: $screen-md-min) {
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.projects {
    margin-bottom: 20px;
    @media(min-width: $screen-md-min) {
        margin-bottom: 30px;
    }

    .project-description {
        padding: 15px;
    }
    article {
        border: 1px solid lightgray;
        border-radius: 8px;
        margin-bottom: 20px;
        &:last-of-type {
            margin-bottom: 0;
        }
        @media(min-width: $screen-sm-min) {
            margin-bottom: 0;
            flex: 1 1 calc( 600% / 12 - 30px);
            max-width: 300px;
        }
        @media(min-width: $screen-md-min) {
            flex: 1 1 calc( 400% / 12 - 50px);
        }
    }
    img {
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        object-fit: cover;
        object-position: top;
        max-height: 200px;
    }
}

.project-text {
    a {
        white-space: nowrap;
        margin-top: 10px;
    }

    @media(min-width: $screen-sm-min) {
        flex-wrap: nowrap;
        align-items: center;

        a {
            width: auto;
            margin-top: 0;
        }
    }
}
