<address>
    patrick.niebrzydowski@gmail.com<br />
    +43 664 79 82 97 3
</address>

<ul class="social-menu">
    <li><a href="#">GitHub</a></li>
    <li><a href="#">LinkedIn</a></li>
    <li><a href="#">Instagram</a></li>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Twitter</a></li>
    <li><a href="#">Google +</a></li>
</ul>