<section class="container no-padding">
    <nav class="main-navigation content">
        <ul>
            <li><a class="active" href="/" title="Home">Home</a></li>
            <li><a href="/projects" title="Projects">Projects</a></li>
            <li><a href="/cv" title="CV">CV</a></li>
            <li><a href="/about" title="About">About</a></li>
        </ul>

        <ul>
            <li><a href="{{contact.github}}" title="GitHub" />GitHub</a></li>
        </ul>
    </nav>
</section>