<nav class="container no-padding">
    <ul class="content">
        <li><a class="active" href="/" title="Home">Home</a></li>
        <li><a href="/projects" title="Projects">Projects</a></li>
        <li><a href="/cv" title="CV">CV</a></li>
        <li><a href="/about" title="About">About</a></li>
    </ul>
</nav>