<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Pat-Folio: Portfolio of Frontend Developer Patrick Niebrzydowski</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    <link href="/assets/style.css" rel="stylesheet" />
</head>

<body>
    <nav>{% block nav %}{% include 'includes/navigation.twig' %}{% endblock nav %}</nav>
    <header>{% block header %}{% endblock header %}</header>
    <main>{% block body %}{% endblock body %}</main>
    <footer>{% block footer %}{% include 'includes/footer.twig' %}{% endblock footer %}</footer>
</body>
</html>