{% extends '_layout' %}

{% block header %}
<section class="banner">
    {% set img = entry.photo.one() %}
    {% if img %}
    <img src="{{img.getUrl()}}" />
    {% endif %}
</section>
{% endblock header %}

{% block body %}
<section class="container">
    <div class="main-content">
        {{ entry.mainContent }}
    </div>
</section>
{% endblock %}
